.avatar-container
  text-align: center
  height: 134px
  background-color: #2196F3
  img
    width: 80px
    height: 80px
    border-radius: 40px
    margin-top: 12px

md-card-content
  padding-top: 0px !important
  md-list-item
    padding: 0px !important
    md-icon
      margin: auto !important
    .comment-avatar
      font-size: 24px
      color: white
      text-align: center
      line-height: 40px
      width: 40px
      height: 40px
      border-radius: 20px
      background-color: #525252
      margin: auto
    .md-list-item-text
      margin-left: 12px !important
      h4
        font-weight: bold !important
      h5
        font-weight: normal
        margin: 0px
  md-input-container
    margin-bottom: 0px !important
  md-checkbox
    margin: auto
    margin-left: 12px !important
    span
      line-height: 60px
  .submit-button-container
    text-align: center

.markdown-body
  margin: 0 auto
  padding: 16px