doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(itemprop='description', name='description', content='RANDOM THOUGHTS | 刘忍的个人博客，博文，创意秀，时间轴')
    link(rel='stylesheet', href='http://cdn.bootcss.com/angular-material/1.1.1/angular-material.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.min.css')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
    script hljs.initHighlightingOnLoad();
  body(ng-cloak, ng-app='Ren-s-Blog', layout='row', ng-controller='websiteController as wc', md-theme='default', id='mainBody')
    md-sidenav.md-whiteframe-z2(flex, md-is-locked-open='$mdMedia("gt-sm")', md-component-id='left')
      md-content(layout='column', layout-fill)
        header.nav-header(layout='column')
          div(flex='66', layout='row')
            div(flex='33')
              img(src='img/avatar.png')
            div(flex='66', layout='row')
              div.chinese-title 刘忍的个人博客
          div.nav-button(flex='33', layout='row')
            div(flex='33')
              md-button.md-icon-button(aria-label='Like', ng-click='wc.plusOneToLikes()')
                md-icon(md-svg-icon='icons/like.svg')
              br
              | {{likes}}个点赞
            div(flex='33')
              md-button.md-icon-button(aria-label='Visit')
                md-icon(md-svg-icon='icons/visit.svg')
              br
              | {{visits}}次访问
            div(flex='33')
              md-button.md-icon-button(aria-label='Share', ng-click='wc.share($event)')
                md-icon(md-svg-icon='icons/share.svg')
              br
              | 分享这个博客
        div(flex)
          md-list.nav-list
            md-list-item
              md-button(layout='row', ng-click='wc.navigateTo("blog")', ng-class='wc.pageSelected.blog')
                md-icon(flex='33', md-svg-icon='icons/blog.svg')
                span(flex='33')
                  | 博
                  text(style='opacity: 0') 空
                  | 文
                span(flex='33')
            md-list-item
              md-button(layout='row', ng-click='wc.navigateTo("show")', ng-class='wc.pageSelected.show')
                md-icon(flex='33', md-svg-icon='icons/show.svg')
                span(flex='33') 创意秀
                span(flex='33')
            md-list-item
              md-button(layout='row', ng-click='wc.navigateTo("timeline")', ng-class='wc.pageSelected.timeline')
                md-icon(md-svg-icon='icons/timeline.svg')
                span(flex='33') 时间轴
                span(flex='33')
          md-divider
          md-list.nav-list
            md-list-item
              md-button(layout='row', ng-click='wc.navigateTo("home")', ng-class='wc.pageSelected.home')
                md-icon(flex='33', md-svg-icon='icons/home.svg')
                span(flex='33')
                  | 主
                  text(style='opacity: 0') 空
                  | 页
                span(flex='33')
            md-list-item
              md-button(layout='row', ng-click='wc.navigateTo("aboutMe")', ng-class='wc.pageSelected.aboutMe')
                md-icon(flex='33', md-svg-icon='icons/me.svg')
                span(flex='33') 关于我
                span(flex='33')
            div.records
              a(href='http://www.miitbeian.gov.cn/publish/query/indexFirst.action') 粤ICP备16077413号-1
    div(layout='column', flex)
      md-toolbar(layout='row')
        div.md-toolbar-tools
          md-button.md-icon-button(aria-label='Menu', ng-click='wc.toggleList()', hide-gt-sm)
            md-icon(md-svg-icon='icons/menu.svg')
          h1 RANDOM THOUGHTS
      md-content.fullscreen(ui-view, flex, style='background-color: #f2f2f2')

    script(src='http://cdn.bootcss.com/angular.js/1.6.0/angular.min.js')
    script(src='http://cdn.bootcss.com/angular.js/1.6.0/angular-aria.min.js')
    script(src='http://cdn.bootcss.com/angular.js/1.6.0/angular-animate.min.js')
    script(src='http://cdn.bootcss.com/angular.js/1.6.0/angular-cookies.min.js')
    script(src='http://cdn.bootcss.com/angular-clipboard/1.5.0/angular-clipboard.min.js')
    script(src='/node_modules/angular-marked/dist/angular-marked.min.js')
    script(src='http://cdn.bootcss.com/angular-material/1.1.1/angular-material.min.js')
    script(src='http://cdn.bootcss.com/angular-messages/1.6.0/angular-messages.min.js')
    script(src='http://cdn.bootcss.com/angular-ui-router/0.3.2/angular-ui-router.min.js')
    script(src='http://cdn.bootcss.com/marked/0.3.6/marked.min.js')
    script(src='/js/blog.min.js')
    script(src='/js/essay.min.js')
    script(src='/js/show.min.js')
    script(src='/js/timeline.min.js')
    script(src='/js/home.min.js')
    script(src='/js/aboutMe.min.js')
    script(src='/js/admin.min.js')
    script(src='/js/layout.min.js')
