link(rel='stylesheet', type='text/css', href='css/aboutMe.min.css')

md-content(style='background-color: #f2f2f2', layout='column', ng-controller='aboutMeController as amc')
  div.avatarContainer
    img(src='img/avatar.png')
  div.md-padding
    md-card(layout='row')
      div(flex='33')
      div(flex='33')
      div(flex='33')
    md-card(id='contributions')
