link(rel='stylesheet', type='text/css', href='css/admin.min.css')

md-content.md-padding(style='background-color: #f2f2f2', layout='column', ng-controller='adminController as ac')
  md-card
    md-tabs(md-dynamic-height, md-border-bottom)
      //- 博文管理
      md-tab(label='博文管理')
        md-card-title
          md-card-title-text
            span.md-headline 博文管理
        md-card-content
          md-subheader 博文一览表
          md-list
            md-list-item(ng-repeat='essay in ac.blog', ng-click)
              p {{essay.title}}
              md-icon.md-secondary.md-hue-3(md-svg-src='icons/delete.svg', ng-click='ac.deleteEssay(essay.title, $event)', aria-label='Delete Essay')
          md-divider
          md-subheader 添加新的博文
          form(name='addEssay').md-padding
            md-input-container.md-block
              label 博文标题
              input(name='essayTitle')
            md-input-container.md-block
              label 博文详情
              input(name='essayDetails')
            md-input-container.md-block
              label 博文内容（Markdown）
              textarea(name='essayContent')
            div.submit-button-container
              md-button.md-raised.md-primary(ng-click='ac.submitEssay($event)') 提 交
      //- 创意秀管理
      md-tab(label='创意秀管理')
        md-card-title
          md-card-title-text
            span.md-headline 创意秀管理
        md-card-content
          md-subheader 创意秀一览表
          md-list
            md-list-item(ng-repeat='show in ac.shows', ng-click)
              p {{show.title}}
              md-icon.md-secondary.md-hue-3(md-svg-src='icons/delete.svg', ng-click='ac.deleteShow(show.title, $event)', aria-label='Delete Show')
          md-divider
          md-subheader 添加新的创意秀
          form(name='addShow').md-padding
            md-input-container.md-block
              label 配图链接
              input(name='showImage')
            md-input-container.md-block
              label 创意秀标题
              input(name='showTitle')
            md-input-container.md-block
              label 创意秀详情
              input(name='showDetails')
            div.submit-button-container
              md-button.md-raised.md-primary(ng-click='ac.submitShow($event)') 提 交
