link(rel='stylesheet', type='text/css', href='css/home.min.css')

md-content(style='background-color: #f2f2f2', ng-controller='homeController as hc')
  div.header
    img(src='img/home/homeLogo.png', alt='Home Logo')
  div(layout-xs='column', layout='row')
    div(flex-xs, flex-gt-xs='60', layout='column')
      md-card(id='gameContainer')
        div(style='display:inline-block;text-align:center;')
          iframe(id='gameFrame', src='game.html', frameBorder=0)
    div(flex-xs, flex-gt-xs='40', layout='column')
      | 123
