link(rel='stylesheet', type='text/css', href='css/home.min.css')

md-content(ng-cloak, style='background-color: #f2f2f2', ng-controller='homeController as hc')
  div.header
    img(src='img/home/homeLogo.png', alt='Home Logo')
  div.md-padding(layout-xs='column', layout='row')
    div(flex-xs, flex-gt-xs='60', layout='column')
      md-card(ng-cloak)
        div(style='display:inline-block;text-align:center;position:relative', id='gameContainer')
          div(id='waiting')
            md-progress-circular.md-accent(md-mode='indeterminate', md-diameter='40')
          iframe(id='gameFrame', src='game.html', frameBorder=0, width='100%')
    div(flex-xs, flex-gt-xs='40', layout='column')
      md-card
        img.md-card-image(ng-src='img/home/homeBackground.jpg', alt='')
        md-card-title
          md-card-title-text
            span.md-headline 欢迎访问
        md-card-content
          p 点击屏幕以产生引力场，吸引小球收集心形为这篇博客点赞
          p 你也可以直接点击右下角的心形点赞
        md-card-actions(layout='row', layout-align='end center')
          span.small-words {{wc.likes}} 个点赞
          md-button.md-icon-button.close-icon-button(aria-label='Like', ng-click='wc.plusOneToLikes()')
            md-icon(md-svg-icon='icons/like-dark.svg')
      md-card
        md-card-title
          md-card-title-text
            span.md-headline 友情链接
        md-card-content
          a.websiteIcon(href='https://github.com/An0nym6')
            md-icon(md-svg-icon='icons/github.svg')
          a.websiteIcon(href='http://www.zealer.com/')
            md-icon(md-svg-icon='icons/zealer.svg')
          a.websiteIcon(href='http://www.feng.com/')
            md-icon(md-svg-icon='icons/weiphone.svg')
          a.websiteIcon(href='https://material.google.com/')
            md-icon(md-svg-icon='icons/google.svg')
