doctype html
html
  head
    title= title
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/node_modules/angular-material/angular-material.css')
    link(rel='stylesheet', type='text/css', href='css/style.min.css')
  body(ng-app='Ren-s-Blog', layout='column', ng-controller='blogController as bc')
    md-toolbar(layout='row')
      div.md-toolbar-tools
        md-button.md-icon-button(aria-label='Menu', ng-click='bc.toggleList()')
          md-icon(md-svg-icon='icons/menu.svg')
        h2
          span Random Thoughts
        span(flex)

    div(flex, layout='row')
      md-sidenav.md-whiteframe-z2(md-component-id='left', md-is-locked-open='true', ng-click='bc.toggleList()')
      block content
    script(src='/node_modules/angular/angular.js')
    script(src='/node_modules/angular-aria/angular-aria.js')
    script(src='/node_modules/angular-animate/angular-animate.js')
    script(src='/node_modules/angular-material/angular-material.js')
    script(src='/js/layout.min.js')
