doctype html
html
  head
    title= title
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/node_modules/angular-material/angular-material.css')
    link(rel='stylesheet', type='text/css', href='css/style.min.css')
  body(ng-app='Ren-s-Blog', layout='column', ng-controller='blogController as bc', md-theme='default')
    md-toolbar(layout='row')
      div.md-toolbar-tools
        md-button.md-icon-button(aria-label='Menu', ng-click='bc.toggleList()')
          md-icon(md-svg-icon='icons/menu.svg')
        h1 RANDOM THOUGHTS
        span(flex)
        md-input-container.md-block(hide-xs)
          label
            md-icon(md-svg-icon='icons/search.svg')
            | 搜 索
          input

    div(layout='row')
      md-sidenav.md-whiteframe-z2(md-component-id='left')
        div.nav-header(layout='column')
          div(flex='66', layout='row')
            div(flex='33')
              img(src='img/avatar.png')
            div(flex='66', layout='row')
              div.chinese-title 刘忍的个人博客
          div.nav-button(flex='33', layout='row')
            div(flex='33')
              md-button.md-icon-button(aria-label='Like')
                md-icon(md-svg-icon='icons/like.svg')
              br
              | 100 人喜欢
            div(flex='33')
              md-button.md-icon-button(aria-label='Visit')
                md-icon(md-svg-icon='icons/visit.svg')
              br
              | 100 次访问
            div(flex='33')
              md-button.md-icon-button(aria-label='Visit')
                md-icon(md-svg-icon='icons/share.svg')
              br
              | 分享这个博客
        md-list.nav-list
          md-list-item
            md-button(layout='row')
              md-icon(flex='33', md-svg-icon='icons/blog.svg')
              span(flex='33')
                | 博
                text(style='opacity: 0') 空
                | 文
              span(flex='33')
          md-list-item
            md-button(layout='row')
              md-icon(flex='33', md-svg-icon='icons/show.svg')
              span(flex='33') 创意秀
              span(flex='33')
          md-list-item
            md-button(layout='row')
              md-icon(md-svg-icon='icons/timeline.svg')
              span(flex='33') 时间轴
              span(flex='33')
      block content
    script(src='/node_modules/angular/angular.js')
    script(src='/node_modules/angular-aria/angular-aria.js')
    script(src='/node_modules/angular-animate/angular-animate.js')
    script(src='/node_modules/angular-material/angular-material.js')
    script(src='/js/layout.min.js')
