md-content.md-padding(ng-cloak, layout-xs='column', layout='row', ng-controller='showController as sc', style='background-color: #f2f2f2')
  div(flex-xs, flex-gt-xs='50', layout='column')
    md-card(ng-repeat='card in sc.show', ng-if='$index % 2 == 0')
      img(ng-src='{{card.imgUrl}}', class='md-card-image', alt='Show Image')
      md-card-title
        md-card-title-text
          span.md-headline {{card.title}}
      md-card-content
        p {{card.details}}
      md-card-actions(layout='row', layout-align='end center')
        span.small-words {{card.likes}} 个点赞
        md-button.md-icon-button.close-icon-button(aria-label='Like', ng-click='sc.plusOneToLikes(card.title)')
          md-icon(md-svg-icon='icons/like-dark.svg')
        md-button.md-icon-button.close-icon-button(aria-label='Share', ng-click='wc.share($event)')
          md-icon(md-svg-icon='icons/share-dark.svg')
  div(flex-xs, flex-gt-xs='50', layout='column')
    md-card(ng-repeat='card in sc.show', ng-if='$index % 2 != 0')
      img(ng-src='{{card.imgUrl}}', class='md-card-image', alt='Show Image')
      md-card-title
        md-card-title-text
          span.md-headline {{card.title}}
      md-card-content
        p {{card.details}}
      md-card-actions(layout='row', layout-align='end center')
        span.small-words {{card.likes}} 个点赞
        md-button.md-icon-button.close-icon-button(aria-label='Like', ng-click='sc.plusOneToLikes(card.title)')
          md-icon(md-svg-icon='icons/like-dark.svg')
        md-button.md-icon-button.close-icon-button(aria-label='Share', ng-click='wc.share($event)')
          md-icon(md-svg-icon='icons/share-dark.svg')
