link(rel='stylesheet', type='text/css', href='css/timeline.min.css')
link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap.min.css')
//- 在此引入 Bootstrap 来解决 Angular Material 解决不了的动态响应问题

md-content.md-padding(layout='row')
  div(flex='5')
  div.row(flex='89')
    div.col-md-6.card-container
      md-card
        img(ng-src='img/test1.png', class='md-card-image', alt='test1')
        md-card-title
          md-card-title-text
            span.md-headline Test1 Title
        md-card-content
          p The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        md-card-actions(layout='row', layout-align='end center')
          md-button.md-icon-button(aria-label='Like')
            md-icon(md-svg-icon='icons/like-dark.svg')
          md-button.md-icon-button(aria-label='Share')
            md-icon(md-svg-icon='icons/share-dark.svg')
    div.col-md-6.card-container
      md-card
        img(ng-src='img/test1.png', class='md-card-image', alt='test2')
        md-card-title
          md-card-title-text
            span.md-headline Test2 Title
        md-card-content
          p The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        md-card-actions(layout='row', layout-align='end center')
          md-button.md-icon-button(aria-label='Like')
            md-icon(md-svg-icon='icons/like-dark.svg')
          md-button.md-icon-button(aria-label='Share')
            md-icon(md-svg-icon='icons/share-dark.svg')
    div.col-md-6.card-container
      md-card
        img(ng-src='img/test1.png', class='md-card-image', alt='test3')
        md-card-title
          md-card-title-text
            span.md-headline Test3 Title
        md-card-content
          p The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        md-card-actions(layout='row', layout-align='end center')
          md-button.md-icon-button(aria-label='Like')
            md-icon(md-svg-icon='icons/like-dark.svg')
          md-button.md-icon-button(aria-label='Share')
            md-icon(md-svg-icon='icons/share-dark.svg')
  div(flex='5')
