link(rel='stylesheet', type='text/css', href='css/timeline.min.css')

md-content.main-content(layout='row', width='100%')
  div(flex='47')
    md-card
      img(ng-src='img/test1.png', class='md-card-image', alt='test1')
      md-card-title
        md-card-title-text
          span.md-headline Test1 Title
      md-card-content
        p The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
  div(flex='5')
  div(flex='47')
    md-card
      img(ng-src='img/test1.png', class='md-card-image', alt='test1')
      md-card-title
        md-card-title-text
          span.md-headline Test1 Title
      md-card-content
        p The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
