link(rel='stylesheet', type='text/css', href='css/timeline.min.css')

md-content(layout='row', layout-margin, ng-controller='timelineController as tc', style='background-color: #f2f2f2')
  div(flex='10', hide-xs)
  div(flex='79', layout='row')
    div.timeline-container
      md-button.md-fab(aria-label='Timeline')
        md-icon(md-svg-src='icons/timeline-light.svg')
      div.line-of-timeline(id='line-of-timeline')
      md-button.md-fab(ng-repeat='point in tc.timeline', repeat-point-directive, aria-label='Time Points', style='position: absolute; left: 0px;')
        md-icon(md-svg-src='icons/{{point.icon}}.svg')
      div(id='end-circle')
    div.event-container(layout='column')
      div.margin-top
      div(layout='row')
        div(flex='5', hide-xs)
        div(flex='5', id='placeholder')
        div(flex='90', layout='column')
          md-card(ng-repeat='point in tc.timeline', repeat-card-directive)
            img(ng-src='{{point.imgUrl}}', class='md-card-image', alt='Timeline Image')
            md-card-title
              md-card-title-text
                span.md-headline {{point.title}}
            md-card-content
              p {{point.details}}
            md-card-actions(layout='row', layout-align='end center')
              span.small-words {{point.time}} | {{point.likes}} 个点赞
              md-button.md-icon-button.close-icon-button(aria-label='Like')
                md-icon(md-svg-icon='icons/like-dark.svg')
  div(flex='10', hide-xs)
